# ------------------------------

# Build Artifacts

# ------------------------------

*.o
*.obj
*.a
*.so
*.so.*

# Object directories

OBJDIR/

# Dependency files

Depend
Depend.bak

# ------------------------------

# Compiled Binaries

# ------------------------------

/game/game
/game/game_r
/db/db
/db/db_r
/auth/auth

# ------------------------------

# Logs

# ------------------------------

*.log
log/
logs/
syslog
PTS

# ------------------------------

# Crash Dumps

# ------------------------------

core
core.*
*.core

# ------------------------------

# Temp / Cache

# ------------------------------

tmp/
temp/
.cache/

# ------------------------------

# Python

# ------------------------------

**pycache**/
*.pyc

# ------------------------------

# Editors / IDE

# ------------------------------

.vscode/
.idea/

# ------------------------------

# CMake / Build Systems

# ------------------------------

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# ------------------------------

# OS Files

# ------------------------------

.DS_Store
Thumbs.db

# ------------------------------

# Backup files

# ------------------------------

*.bak
*~
